* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    height: 100vh;
    width: 100vw;
}

#container {
    display: grid;
    width: 35vw;
}

.content {
    padding: 100px;
}

.grid {
    aspect-ratio: 1;
    border: 1px solid black;
}

.grid.draw {
    background-color: black;
}